/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: "wght" var(--font-weight-main);
  }
}

.page {
  margin: auto;
  padding-block-start: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  background-color: var(--color-bg);
  background-image: var(--img-bg);
  color: var(--color-main);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-accent);
  background-color: var(--color-bg);
  border: 2px solid var(--color-main);
  margin-block-end: 98px;
  padding-top: 130px;
  padding-bottom: 130px;
}

@media (width < 376px) {
  .header {
    padding-top: 122px;
    padding-bottom: 122px;
    margin-block-end: 100px;
  }
}

.header__logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: var(--font-weight-main);
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: var(--font-weight-main);
  line-height: 1;
  text-transform: uppercase;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  border: 2px solid var(--color-main);
}

.card__title {
  font-variation-settings: "wght" var(--font-weight-title);
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 1.21;
  padding: 4px 24px 4px 10px;
  border-block-end: 2px solid var(--color-main);
}

.card__image {
  position: relative;
}

.image-source {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: right;
}

.filter__contrast {
  filter: contrast(0.6);
}

.filter__grayscale {
  filter: grayscale(0.6);
}

.filter__saturate {
  filter: saturate(8);
}

.filter__hue-rotate {
  filter: hue-rotate(30deg);
}

.filter__invert {
  filter: invert(0.6);
}

.filter__sepia {
  filter: sepia(80%);
}

.filter__blur {
  filter: blur(6px);
}

.filter__multiple {
  filter: drop-shadow(16px 16px 20px blue) contrast(0.6) brightness(1.3);
}

.label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5475rem + 1.1278vw, 1.5625rem);
  font-family: var(--font-accent);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1 0 var(--color-bg), 0 1px var(--color-bg),
    1px 0 var(--color-bg), 0 -1px var(--color-bg);
}

@supports (
  (text-stroke: 1px var(--color-bg)) or
    (-webkit-text-stroke: 1px var(--color-bg))
) {
  .label {
    -webkit-text-stroke: 1px var(--color-bg);
    text-stroke: 1px var(--color-bg);
    text-shadow: none;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 29px;
  font-family: var(--font-main);
  font-variation-settings: "wdth" var(--font-weight-main);
  font-size: 18px;
  line-height: 1.16;
  border-block-start: 2px solid var(--color-main);
  padding: 23px 25px 25px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 3px;
  padding: 0 25px 25px;
}

.button {
  position: relative;
  background-color: transparent;
  border: 2px solid var(--color-main);
  cursor: pointer;
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1.11;
  color: var(--color-blend);
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
}

.btn-shad:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-main);
}

.button-paint::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease-in-out;
}

.button-paint:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--color-main);
}

.like-icon {
  overflow: visible;
  inline-size: 39px;
}

.main-body,
.core {
  fill: none;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--color-main);
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--color-heart-mb);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--color-heart-mb);
}

.sparks {
  opacity: 0;
}

.save {
  padding: 52px 0 103px;
  display: flex;
  justify-content: center;
}

.save__button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--color-bg);
  padding: 18px 20px;
}

.popup {
  font-family: var(--font-accent);
  color: var(--color-main);
  text-transform: uppercase;
  max-inline-size: 357px;
  padding: 30px;
  background-color: var(--color-bg);
  border: 2px solid var(--color-main);
}

.popup[open] {
  display: flex;
  flex-direction: column;
}

.popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.popup__text {
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
}

.form {
  padding-block-start: 30px;
}

.popup__close-btn {
  padding-block-start: 12.5px;
  padding-block-end: 12.5px;
  text-transform: uppercase;
  inline-size: 100%;
}

.popup::backdrop {
  opacity: 0.75;
  background-color: var(--color-main);
}

.icon {
  width: 21px;
  color: var(--color-blend);
  mix-blend-mode: difference;
}

@media (width < 376px) {
  .label {
    inset-inline-end: 13px;
  }

  .save__button {
    flex-direction: column;
  }

  .popup {
    padding: clamp(1.875rem, -2.4886rem + 21.8182vw, 2.625rem);
  }

  .icon {
    inline-size: 28px;
  }
}

.icon-big {
  width: 39px;
}
